.container{
    height: 1000vh;
    width: 99%;
    border: solid;
    border-color: black;
    border-radius: 2px;
    border-width: 3px;
    background-color: beige;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
   background-image: url(1356275836021ea.jpg);
   
}
#divison1{
    border: solid;
    border-color: black;
    border-radius: 2px;
    border-width: 3px;
    background-color: beige;
    margin:0;
    padding: 0;
    height: 2%;
    width: 1000vw;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: space-between;
background-image: url(sweet-shop-background-illustration_1416-547.avif);
    

    
    
}
#id1{
    height: 40%;
    width: 800px;
    font-size: larger;
    font-style: italic;
    font-stretch: ultra-condensed;
    text-shadow: 0.2px 0.9px blue;
    
}
#id2{
    font-size: larger;
    font-style: normal;
    align-self:end;
    justify-content: center;
    width: 200px;
}
#id3{
    font-size: larger;
    font-style: normal;
    align-self:end;
}
#id4,#id9,#id14{
    
    color: rgb(255, 4, 4);
}
#id5,#id6,#id10,#id11,#id15,#id16,.he{
    color: green;
}
img{
    float: right;
    height: 200px;
    width: 200px;
}
#id8,#id12{
    font-size: larger;
}
#id20{
    color: blueviolet;
}